/*
Adam Rilatt, Erin Sinatra, Cole Byerly, Luca Cammarota
20 November 2023
PDM Final Project -- Holiday Jeopardy Stylesheet
*/

/* By AR and edited by CB */

:root {
  --background: #99a4dd;  /* same as background color from holiday picture */
  --button-background: #fff;
  --button-accent: #8bf;
  --button-clickable-background: #abf;
  --button-clickable-accent: #68f;

  --grid-width: 80vw;
  --grid-height: 80vh;
  --question-margin: 1vh;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background);
  font-size: 1rem;
  font-family: "Jua", sans-serif; /* CB */
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("media/holidaybackground.jpg"); /* background by CB */
  background-size: 100%;
}

.base-button {
	background: linear-gradient(to bottom, var(--button-background) 5%, var(--button-accent) 100%);
	background-color: var(--button-background);
	border-radius: 10px;
	border: 3px solid var(--button-border);
	display: inline-block;
	color: #222;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}

.base-button.click-button {
	background: linear-gradient(to bottom, var(--button-clickable-background) 5%, var(--button-clickable-accent) 100%);
	cursor: pointer;
}

.base-button.click-button:hover {
	background: linear-gradient(to bottom, var(--button-clickable-accent) 5%, var(--button-clickable-background) 100%);
}

.base-button.click-button:active {
	position: relative;
	top: 3px;
}

/* This tiles the game grid with columns being placed inline and their child
elements being placed vertically. */
.game-column {
  display: inline-block;
  font-size: 1rem; /* corrects the zero'd font size used to correct the element
  spacing while using border-box */
  width: calc(var(--grid-width) / 4);
}

/* All divs within game-columns are questions. */
.game-column > div {
  display: block;
  height: calc(var(--grid-height) / 5 - 5 * var(--question-margin));
  margin: var(--question-margin);
  text-align: center;
  line-height: calc(var(--grid-height) / 5 - 5 * var(--question-margin));
}

.question-prompt {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: center;
  line-height: 4rem;
}

.question-option {
  display: inline-block;
  width: 39%; /* the borders take up space and I don't want to deal with them */
  margin: 5%;
  text-align: center;
  line-height: 4rem;
}

#game-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

#start-button {
  display: block;
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#game-title {
  display: block;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  margin-bottom: 10vh
}

#game-grid {
  display: block;
  width: var(--grid-width);
  height: var(--grid-height);
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 0; /* Setting font-size to 0 ensures white space between elements
  has no pixel width, ensuring correct width calculations for the row and preventing
  overflow while using border-box. */
}

/* The question slide will be placed in the center of the screen, over top of
the content. Its container is hidden; when shown, it will have the effect of
darkening the page as is common when a modal opens. */
#question-slide-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  /* Modal CSS by ER */
  background-color: rgba(0, 0, 0, 0.8);
}

#question-slide {
  width: 60vw;
  height: 60vh;
  margin: auto;
  margin-top: 20vh;
}

#point-counter {
  position: absolute;
  top: 3vh;
  left: 48vw;
  z-index: 2;
  min-width: 5vw;
  text-align: center;
}

#scoreboard {
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
}

#scoreboard > div, #scoreboard > a {
  margin-bottom: 5vh;
  padding: 2vh 2vw;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

#player-score {
  width: 30vw;
  margin-left: calc((100% - 30vw) / 2);
  margin-right: calc((100% - 30vw) / 2);
}

#player-stat {
  width: 50vw;
  margin-left: calc((100% - 50vw) / 2);
  margin-right: calc((100% - 50vw) / 2);
}

#play-again {
  width: 20vw;
  margin-left: calc((100% - 20vw) / 2);
  margin-right: calc((100% - 20vw) / 2);
  
}
